{% extends "admin/base.html" %}
{% load i18n %}


{% block title %}{{ title }} | {% trans 'Site directory | Changer V' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Site directory' %}</h1>
{% endblock %}


{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="http://media-changer5.mychanger.net/style/changer-base.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="http://media-changer5.mychanger.net/scripts/changer-base.js"></script>
{% endblock %}



{% block nav-global %}{% endblock %}
